.jumbotron h1{
    font-weight: 400;
    text-transform: uppercase;
    color: #27b2d1;
}

.jumbotron h1 span{
    text-transform: uppercase;
    font-weight: 800;
    color: #207ebc;
}

.jumbotron p{
    font-weight: 400;
}

.content h1{
    text-align: center;
    color: white;
    text-transform: uppercase;    
    margin: 1em 1em;
    background-color: #207ebc;
    border-radius: 1em;
}

.tombolGizi{
    font-size: 1.5rem;
    background-color: #207ebc;
    border-radius: 1em;
}

.overly {
    background-color: rgb(0, 0, 0);
}